@use 'sass:math';
/*Подключение функций, миксинов /=============================================================================*/
@import 'functions';
/*=============================================================================================================*/
/*Подключение шрифтов /=============================================================================*/
/* @import 'fonts.scss'; */
/*=============================================================================================================*/
/*Размер шрифта по умолчанию /=============================================================================*/
$mainFontSize: 18;
/*=============================================================================================================*/
/*Контейнер и сетка /=============================================================================*/
$mw:rem(1620);
$minwidth:320px;
$md1:$mw+12px;
$md2:992.98px;
$md3:767.98px;
$md4:479.98px;
[class*="__container"] {
    max-width: $mw;
    margin: 0 auto;
    padding: 0 rem(10);
    width: 100%;
}
/*=============================================================================================================*/
/*Иконочный шрифт /=============================================================================*/
@import 'icons';
/*=============================================================================================================*/
/*Обнуление /=============================================================================*/
@import 'null';
/*=============================================================================================================*/
/*Переменные для адаптивного свойства /=============================================================================*/
$maxWidth: 3840; //макс ширина
$maxWidthContainer: 1920; //ширина макета 
/*=============================================================================================================*/
/*Основные цвета /=============================================================================*/
$Grey: #93999B;
$Green: #23B123;
/*=============================================================================================================*/
/*Основные стили /=============================================================================*/
body{
    font-size: rem($mainFontSize);
    font-family: 'League Spartan', sans-serif;
    color: #fff;
    background-color: #263238;
    &.lock{
        overflow: hidden;
    }
    opacity: 0;
    transition: opacity 0.5s ease 0s;
    &.load{
        opacity: 1;
    }
}
.wrapper{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.page{
    flex: 1 1 auto;
}
/*=============================================================================================================*/
/*Общие блоки /=============================================================================*/
.title{}
.button{
    display: inline-block;
    background-color: $Green;
    padding: rem(21) rem(25);
    border-radius: rem(10);
    color: #fff;
    border: 1px solid $Green;
    text-align: center;
    @media (any-hover: hover) {
        transition: background-color 0.3s ease 0s;
        &:hover{
            background-color: #1b8d1b;
        }
    }
    &_border{
        background-color: transparent;
        border: 1px solid #FFFFFF;
        @media (any-hover: hover) {
            transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
            &:hover{
                background-color: transparent;
                border-color: $Green;
                color: $Green
            }
        }
    }
    @media (max-width: $md3){
        display: block;
    }
}
/*=============================================================================================================*/
@import "header";
/*=============================================================================================================*/

/*=============================================================================================================*/
/*=============================================================================================================*/
/*=============================================================================================================*/
/*=============================================================================================================*/
/*=============================================================================================================*/
//footer
@import "footer";